*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: center;
}
.wrapper{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.wrapper ul {
    display: flex;
    gap: 35px;
}
.wrapper ul li{
    list-style: none;
}
.wrapper ul li a{
    text-decoration: none;
}
i{
    font-size: 20px;
}

/* page1 starts here*/

.page1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #494399;
    padding: 80px;
}
.bluebox{
    width: 200px;
    height: 600px;
    background-color: #72efe9;
    /* position: relative; */
    /* position: absolute; */
    top: 0;

}
.image1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.wrapper1{
    max-width: 1200px;
    width: 100%;
    position: relative;
    padding: 15px 0;
    display: flex;
    justify-content: center;
}
.img1{
    height:450px
}
.btn1{
    height: 40px;
    width: 200px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: blue;
    letter-spacing: 5px;
    background-color: #72efe9;
    font-size: 18px;
}
.circle{
    border-radius: 50%;
    background-color: white;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    transform: translateX(-40px);
}
.secure{
    width: 40%;
    /* height: 300px; */
    background-color: white;
    position: absolute;
    /* transform: translateX(400px); */
    /* transform: translateY(10px); */
    padding: 10px;
    left:50%;
    
    transform: translate(20%,-50%);
}
.heading{
    color: blue;
    font-family: sans-serif;
    margin:10px 0 10px 0;
}
.content{
    color: #c5c9c8;
    margin-bottom: 10px;;
}
.btn2{
    height: 80px;
    width: 250px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    color: blue;
    letter-spacing: 5px;
    background-color: #72efe9;
    font-size: 18px;
}

/* page3 starts from here*/

.wrapper2{
    max-width: 1200px;
    width: 100%;
    position: relative;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    z-index: 6;
}
.page2{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    background-color: #494399;
    position: relative;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
.vlayer{
    height: 100px;
    width:100%;
    background-color: #72efe9;
    position: absolute;
    top:20%;
    z-index: 5;
    top:45%;
}
.box{
    width:30%;
    background-color: white;
    padding: 20px;
}
.p2img{
    width:100%;
}
.mainbox{
    display:flex;
    justify-content: center;
    align-items: center;
}
.p2con{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.head2{
    left:50%;
    color: rgb(216, 215, 215);
    font-size: 26px;
    letter-spacing: 5px;
    font-family: sans-serif;
    /* margin:10px 0 10px 0; */
    padding: 10px;
}
.con2{
    color: white;
    font-size: 42px;
    word-spacing: 5px;
    font-family: sans-serif;
    padding: 10px;
}
.p2n{
    display: flex; 
     justify-content: center; 
     align-items: center;
    background-color: #494399;
    position: relative;
    text-align: center;
}
.boxhead{
    font-family: sans-serif;
    color: #664399;
    padding: 10px;
}
.con{
    color:#4976ca;
    font-family: sans-serif;
    line-height: 40px;

}

/* part 3 */

.page3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#494399;
    position: relative;
}
.wrapper3{
    max-width: 1200px;
    width: 100%;
    /* position: relative; */
    padding: 15px 0;
    display: flex;
    justify-content:space-between;
    gap: 90px ;
}
.image{
    width:47%;
}
img{
    width:100%;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.hline{
    height: 50px;
    width:calc((100% - 1200px)/2);
    background-color: #72efe9;
    position: absolute;
    left:0;
    /* top:20%; */
    /* z-index: 5; */
    /* top:45%; */
}
.content3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 47%;
}
.Data{
    color:white;
    font-family: sans-serif;
    font-size: 30px;
}
.head4{
    color: #c2bfed;
    letter-spacing: 2px;
}
.con3{
    color:white;
    font-family: sans-serif;
    font-size:18px;
    word-spacing: 5px;
    padding: 20px;
}
/*page4 starts*/
.page4{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #72efe9;
    /* height: 400px; */
    /* position: relative; */
    padding: 80px;
}
.wrapper4{
    max-width: 1200px;
    width: 100%;
    /* position: relative; */
    padding: 15px 0;
   
}
.con4{
    display: flex;
    justify-content:space-between;
}
.vlayer2{
    /* height: 100px; */
    width:100%;
    background-color: #72efe9;
    /* position: absolute; */
    top:20%;
    z-index: 5;
    top:45%;
}
.con4{
    font-size:52px;
    font-family: sans-serif;
    color:#494399;
}
.btn4{
    height: 60px;
    width: 200px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
    background-color: blue;
}
/*page5 starts*/

.page5{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#494399;
    /* height: 400px; */
    /* position: relative; */
    padding: 200px;
}
.wrapper5{
    max-width: 1200px;
    width:100%;
    display:flex;
    justify-content:center;
    align-items: center;
}
.pic5{ 
    width:50%;
    height: 400px;
    position:relative;
} 
.article5{
    width: 30%;
    height: 400px;
    background-color: wheat;
    /* padding: 60px; */
    /* position:relative; */
}
.page5 p{
    font-size: 20px;
    font-family: sans-serif;
    height:100%;
    padding: 40px;
}
.page5 img{
    height:100%;
    /* width:70%; */
}
.artcon{
    background-color: aquamarine;
    position: absolute;
    right: 0px;
    width: 40%;
    transform: translate(-0%, -40%);
    padding: 20px;
}
.circle5{
    border-radius: 50%;
    background-color: white;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    right:0;

    transform: translate(50%,-100%);
}
.page6{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#494399;
    /* height: 400px; */
    /* position: relative; */
    padding: 80px;
}
.wrapper6{
    max-width: 1200px;
    width:100%;
    
}
.content6{
    display:flex;
    justify-content: space-between;
    /* align-items: center; */

}
.heading6{
    width: 48%;
    position: relative;
}
.article6{
    width:48%
}
.head6{
    font-size: 26px;
    color: white;
}
.art6{
    font-size: 16px;
    color:rgb(210, 206, 206);
}
.btn6{
    height: 40px;
    width: 100px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    background-color: blue;
    margin-top: 10px;
}
.circle6{
    border-radius: 50%;
    background-color: white;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 0;
    /* right:0; */

    /* transform: translate(50%,-100%); */
}
.vlayer1{
    height: 100px;
    width: 100%;
    background-color: #72efe9;
    /* position: absolute; */
    position: relative;
    /* top: 20%; */
    /* z-index: 5; */
    /* top: 45%;*/
}
.page7{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #494399;
    /* height: 400px; */
    /* position: relative; */
    padding: 80px;
}
.wrapper7{
    max-width: 1200px;
    width:100%;
    padding: 80px ;
}
.pic7{
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.lflex{
    display: flex;
    align-items: center;
    /* height: 400px; */
}
.wrapper71{
    display:flex;
    justify-content: center;
}